@import "search";

.navigation-sidebar-container {
    height: 100vh;
    min-width: 350px;

    .navigation-sidebar {
        background: #343131;
        height: 100vh;
        position: fixed;
        width: 300px;
        z-index: 200;

        ul, ol, li {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }

        > * {
            user-select: none;
        }

        .async {
            color: $accent-color;
            font-size: 0.8rem;
            font-style: italic;
            font-weight: bold;
        }


        // Hides the scrollbar from the nav, but still allows scrolling the
        // navbar with the wheel.
        .nav-scroll-container {
            // - 170px search and 88 px subject headers.
            max-height: calc(100vh - 258px);
            overflow-y: auto;
            position: relative;
        }

        .nav-items {
            margin: 0;
            padding: 0;

            .nav-item {
                font-size: 0.85rem;

                a {
                    color: $grey-color-light;
                    display: block;

                    &:hover,
                    &.selected {
                        background: $white-color;
                        color: $brand-color;
                    }
                }

                .sub-nav-item {
                    font-size: 0.8rem;
                }
            }
        }

        // The container for the nav-api and nav-manuals tabs.
        .nav-doc-type {
            display: flex;
            flex-direction: column;
            margin: 0;
            min-height: 88px;

            .nav-doc-item {
                background: $grey-color-lighter;
                border-bottom: 1px solid $grey-color-light;
                width: 100%;

                &:hover {
                    border-bottom: 1px solid lighten($grey-color-light, 10%);
                    cursor: pointer;
                }

                a {
                    color: $grey-color-dark;
                    display: block;
                    font-weight: 500;
                    padding: ($spacer * 1.5) ($spacer * 2);
                }

                &.selected {
                    background: $brand-color;
                    border-bottom: 1px solid lighten($brand-color, 10%);

                    a {
                        color: $grey-color-lightest;

                        &:hover {
                            cursor: default;
                        }
                    }
                }
            }
        }


        // The api items container.
        .nav-api {
            h3 {
                background: $grey-color-darker;
                border-bottom: 1px solid lighten($grey-color-darker, 5%);
                color: $grey-color-lighter;
                display: block;
                font-size: 0.8rem;
                margin: 0;
                padding: ($spacer * 1.5) ($spacer * 2);
                text-transform: uppercase;
            }

            //The listed nav items, e.g. classes and modules.
            .nav-item {
                a,
                a:visited,
                a:active {
                    line-height: $spacer * 2;
                    padding: .3rem;
                    padding-left: 1.5rem;
                }

                // Submenu is collapsed; not the selected one.
                // Set the navigation menu item to semi-selected.
                span.fa-minus  + a:not(.selected) {
                    background: $grey-color-light;
                    color: $grey-color-darker;
                    font-weight: bold;
                }
            }
        }

        .nav-manuals {
            h3 {
                background: $grey-color-darker;
                color: $grey-color-lighter;
                display: block;
                font-size: 0.8rem;
                margin: 0;
                padding: ($spacer * 1.5) ($spacer * 2);
                text-transform: uppercase;
            }

            .nav-item {
                font-size: 0.9rem;
                font-weight: 500;

                &.selected {
                    background: $white-color;

                    a {
                        color: $brand-color;
                    }

                }

                .toggle-subnav {display: none}

                a {
                    color: $grey-color-light;
                    display: block;
                    padding: ($spacer * 1.5) ($spacer * 2);
                }
            }
        }



        // Subitems in the navigation.
        .nav-item-sub {
            background: $grey-color-lighter;

            .member-type {
                color: $accent-color;
                cursor: text;
                font-size: 0.8rem;
                font-weight: 500;
                margin-left: 1.5rem;
                padding: 0.2rem 0;
            }

            .inner {
                li {
                    border-bottom: 0;
                    color: #bbb;
                    margin: 0;
                    padding-bottom: 0;
                    padding-top: 0;
                }

                a {
                    color: $grey-color-dark;
                    padding-left: 1.8rem;

                    &:hover {
                        background: $grey-color-lightest;
                    }
                }
            }
        }


        // The plus/minus sign next to each navigation item with children.
        span.toggle-subnav {
            font-size: 10px;
            height: 24px;
            left: 2px;
            line-height: 24px;
            position: absolute;
            text-align: center;
            width: 18px;

            &:hover {
                color: $grey-color-light;
                cursor: hand;
                outline: 0;
            }
        }
    }



    // Copied and modified from:
    // https://github.com/clenemt/docdash/blob/master/static/styles/jsdoc.css
    .navicon-button {
        cursor: pointer;
        display: none;
        opacity: .8;
        padding: 2 1.5rem;
        position: relative;
        transition: 0.25s;
        user-select: none;
    }

    .navicon-button .navicon:before, .navicon-button .navicon:after {
        transition: 0.25s;
    }

    .navicon-button:hover {
        opacity: 1;
        transition: 0.5s;
    }

    .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
        transition: 0.25s;
    }

    .navicon-button:hover .navicon:before {
        top: .825rem;
    }

    .navicon-button:hover .navicon:after {
        top: -.825rem;
    }


    .navicon {
        background: $accent-color;
        border-radius: 2.5rem;
        box-shadow: 1px 1px 2px #000;
        height: .3125rem;
        position: relative;
        transition: 0.3s;
        width: 2.5em;

        &:before,
        &:after {
            background: $accent-color;
            border-radius: 1rem;
            box-shadow: 1px 1px 2px #000;
            content: "";
            display: block;
            height: .3125rem;
            position: absolute;
            transition: 0.3s 0.25s;
            width: 2.5rem;
            z-index: -1;
        }

        &:before {
            top: .625rem;
        }

        &:after {
            top: -.625rem;
        }

    }


    // Open.
    .nav-trigger:checked + label:not(.steps) .navicon:before,
    .nav-trigger:checked + label:not(.steps) .navicon:after {
        top: 0;
    }

    .nav-trigger:checked + label .navicon:before,
    .nav-trigger:checked + label .navicon:after {
        transition: 0.5s;
    }

    // Minus.
    .nav-trigger:checked + label {
        transform: scale(0.75);
    }

    // × and +.
    .nav-trigger:checked + label.plus .navicon,
    .nav-trigger:checked + label.x .navicon {
        background: transparent;
        box-shadow: none;
    }

    .nav-trigger:checked + label.plus .navicon:before,
    .nav-trigger:checked + label.x .navicon:before {
        background: #fff;
        transform: rotate(-45deg);
    }

    .nav-trigger:checked + label.plus .navicon:after,
    .nav-trigger:checked + label.x .navicon:after {
        -webkit-transform: rotate(45deg);
        background: #fff;
        transform: rotate(45deg);
    }

    .nav-trigger:checked + label.plus {
        transform: scale(0.75) rotate(45deg);
    }

    .nav-trigger:checked ~ nav {
        left: 0;
    }

    .nav-trigger:checked ~ .overlay {
        display: block;
    }

    .nav-trigger {
        clip: rect(0, 0, 0, 0);
        position: fixed;
        top: 0;
    }

    // The overlay behind the navigation when the mobile navigation is active.
    .overlay {
        background: hsla(0, 0%, 0%, 0.5);
        bottom: 0;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    @media only screen and (min-width: 320px) and (max-width: 680px) {
        body {
            overflow-x: hidden;

            // Expand the content area and undo the major margin-left.
            .main-container {
                margin-left: 0;

                .content {
                    margin: 0;
                    padding: 0.5rem;
                    width: 100%;
                }
            }
        }

        nav {
            left: calc(-100% - 100px);
            transition: left 0.2s;
            width: calc(100% - 100px);
            z-index: 3;

            .nav-scroll-container {
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                // Give some room to extend the collapsable menus to the top.
            }
        }


        .navicon-button {
            display: inline-block;
            position: fixed;
            right: 0;
            top: 1.5em;
            z-index: 2;
        }


        footer {
            margin-left: 0;
        }
    }

    @media only screen and (min-width: 680px) {
        body {
            .main-container {
                // Make sure the overlay hides, when the navigation is triggered
                // and we switch back to regular wide-screen style.
                .nav-trigger:checked ~ .overlay  {
                    display: none;
                }
            }
        }
    }
}
