.nav-search {
    background-color: $accent-color;
    display: block;
    height: 170px;
    margin: 0;
    text-align: center;
    width: 100%;
    z-index: 200;

    .logo {
        margin: 0 auto;
        vertical-align: initial;
        width: 90px;
    }

    // The tabs elements to navigate.
    .nav-title {
        color: $grey-color-lightest;
        margin-bottom: $spacer;
        text-align: center;

        h1 {
            margin: 0;
        }

        .version {
            color: $grey-color-lightest;
            font-size: 0.8rem;
            font-weight: 500;
        }
    }

    input {
        border: 0;
        font-size: 0.9rem;
        outline: none;
        padding: ($spacer * 1.5) ($spacer * 2);
        width: 100%;
    }

    a {
        color: #fff;
    }

    ul {
        background-color: $grey-color-lightest;
        font-size: 0.9rem;
        max-width: 600px;
        position: absolute;
        width: 100%;
        z-index: 10000;
    }

    // Result box that shows when using the search input.
    ul.searched-list {
        background: $grey-color-darkest;
        border-bottom: 1px solid lighten($grey-color-darkest, 10%);
        margin-top: 0;
        overflow: hidden;

        li {
            align-items: center;
            border: 0;
            cursor: pointer;
            display: flex;

            strong {
                color: $brand-color;
                font-weight: normal;
            }

            &:hover,
            &.highlight {
                background-color: $grey-color-lighter;

                a {
                    color: #1f292e;
                }

                strong {
                    color: lighten($brand-color, 20%);
                }

            }

            .group {
                color: $accent-color;
                flex: 1;
                font-size: 0.8rem;
                padding-right: $spacer * 2;
            }

            a {
                color: $grey-color-light;
                display: block;
                padding: $spacer ($spacer * 2);
                text-align: left;
                width: 100%;
            }
        }
    }
}
